@import "range";
$thumb-color: darken(#8895b3, 20);
$ui-background: #f2f2f2;

@mixin antialias() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;

  .map-controls {
    flex: 0 0 320px;
    font-size: 13px;
    overflow-y: auto;
    box-shadow: 0 0 3px #d3d3d3;

    img { height: 1.25em; }

    >div {
      padding: 8px 24px;

      .top-row {
        display: none;
        font-weight: bold;
        color: #405060;
        letter-spacing: 0px;
        margin-bottom: -4px;
        text-transform: uppercase;

        span {
          flex: 1;
          color: #6d6d6d;
          font-weight: normal;
          text-align: right;
        }
      }
    }

    .sub-group {
      padding: 4px 0 0 0;

      >div {
        padding: 6px 0 8px 0;
      }

      .top-row {
        display: flex;
        color: #222;
        text-transform: none;
        font-weight: normal;
      }
    }

    .header-row {
      display: flex;
      background: #f1f1f1;
      padding: 6px 10px 6px 14px;
    }

    h1 {
      flex: 1 1;
      color: desaturate($thumb-color, 10);
      font-size: 16px;
      letter-spacing: 0;
      margin: 0;
      padding: 0;

      img {
        height: 1.5em;
        margin: 0 3px -5px 0;
      }
    }

    .info {
      align-self: flex-end;
      position: relative;
      top: 1px;
      a {
        text-decoration: none;
      }
    }
  }

  .map-canvas {
    flex: 1 1;
    overflow: hidden;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    touch-action: none;

    canvas { display: block; }
  }

  .range-control {
    @include range-styles(12px, $thumb-color);

    input { box-sizing: border-box; }

    input[type=range] { flex: 1 1 100%; }
  }

  .vertical-slider-layout {
    margin-right: 65px;
    position: relative;

    .vertical {
      position: absolute;
      top: 4px;
      right: -65px;
      width: 40px;
      padding-top: 0;

      input[type=range] {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: relative;
        top: 24px;
        left: -8px;
        width: 62px;
      }

      .top-row {
        justify-content: flex-end;
        span { display: none; }
      }
    }
  }

  .checkbox-options {
    padding-top: 8px;
    margin-right: -8px;
    display: flex;

    .checkbox-option {
      flex: 1 1 50%;
      margin: 0 6px 6px 0;
      padding: 6px 8px;
      border-radius: 5px;
      background-color: $ui-background;
      cursor: pointer;
      input { display: none }

      &:before {
        content: "";
        box-sizing: border-box;
        display: inline-block;
        height: 12px;
        width: 12px;
        border: 1px solid $thumb-color;
        border-radius: 3px;
        vertical-align: -1.5px;
      }

      &.active {
        &:before { background: $thumb-color; }
      }
    }
  }

  .radio-buttons {
    padding-top: 8px;

    .radio-button {
      margin: 0 0 6px 0;
      background: $ui-background;
      border-radius: 5px;
      overflow: hidden;

      >label {
        display: block;
        padding: 6px 8px;

        input { display: none; }
      }

      &.active {
        background: #8895b3;

        >label {
          @include antialias();
          color: white;
        }

        >.sub-group {
          background: #fff;
          border-radius: 0 0 4px 4px;
          padding: 6px 16px;
          margin: 1px;
        }
      }

      &:not(.active) label:hover {
        background: #f2f2f2;
        cursor: pointer;
      }
    }
  }

  .map-controls>.debug-panel>.top-row {
    label, span { color: #7a7; }
  }
}

@media (max-width: 640px) {
  .map-container {
    flex-direction: column-reverse;
    height: auto;

    .map-controls {
      flex: 0 0 auto;
      @include range-styles(30px, $thumb-color);

      input[type=range] { margin: 18px 0 10px 0; }
    }

    .map-canvas { height: 100vw; }

    .hidden-mobile { display: none; }
  }
}
