@import "range";
$thumb-color: #8895b3;

@mixin antialias() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;

  .map-controls {
    flex: 0 0 320px;
    font-size: 13px;
    overflow-y: auto;

    >div {
      padding: 8px 24px;

      .top-row {
        display: flex;
        font-weight: bold;
        color: #405060;
        letter-spacing: 0px;
        margin-bottom: -4px;
        text-transform: uppercase;

        span {
          flex: 1;
          color: #6d6d6d;
          font-weight: normal;
          text-align: right;
        }
      }
    }

    .sub-group {
      padding: 4px 0 0 0;

      >div {
        padding: 6px 0 8px 0;
      }

      .top-row {
        color: #222;
        text-transform: none;
        font-weight: normal;
      }
    }

    >h1 {
      color: #222;
      font-size: 16px;
      letter-spacing: 0;
      margin: 0;
      padding: 12px 24px 4px;
    }
  }

  .map-canvas {
    flex: 1 1;
    overflow: hidden;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    canvas { display: block; }
  }

  .range-control {
    @include range-styles(12px, darken($thumb-color, 20));

    input { box-sizing: border-box; }

    input[type=range] { flex: 1 1 100%; }
  }

  .radio-buttons {
    padding-top: 8px;

    .radio-button {
      margin: 0 0 6px 0;
      background: #f4f4f4;
      border-radius: 5px;
      overflow: hidden;

      >label {
        display: block;
        padding: 6px;

        input { display: none; }
      }

      &.active {
        background: #8895b3;

        >label {
          @include antialias();
          color: white;
        }

        >.sub-group {
          background: #fff;
          border-radius: 0 0 4px 4px;
          padding: 6px 16px;
          margin: 1px;
        }
      }

      &:not(.active) label:hover {
        background: #f2f2f2;
        cursor: pointer;
      }
    }
  }

  .map-controls>.debug-panel>.top-row {
    label, span { color: #7a7; }
  }
}

@media (max-width: 640px) {
  .map-container {
    flex-direction: column-reverse;
    height: auto;
    .map-controls {
      flex: 0 0 auto;
      @include range-styles(30px, $thumb-color);
      input[type=range] { margin: 18px 0 10px 0; }
    }
    .map-canvas {
      height: 100vw;
    }
  }
}
