.svg-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.boundary {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.5px;
}

.boundary:hover {
  fill: rgba(0, 0, 128, 0.5)
}

.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: .5px;
}

