.svg-layer {
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  .ocean, .country {
    fill: transparent;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width: 1px;
  }

  .country:hover {
    fill: #fff;
  }
}

