.svg-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.boundary {
  fill: transparent;
  stroke: #f00;
  stroke-width: 0.25px;
}

.boundary:hover {
  stroke: #f00;
  fill: rgba(255, 0, 0, 0.1);
  stroke-width: 1px;
}

.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: .5px;
}

